iframe {
    width: 80vw;
    height: 80vh;
}


th {
    background-color: aquamarine;
}

.recipebody {
    width: 90%;
}

.recipetable {
    min-width: 400px;
    max-width: 600px;
}

th,
td {
    border: 0.5 px solid black;
    text-align: left;
}


button:hover {
    cursor: pointer;
}