body{
    background-color: rgb(246, 238, 238);
}
.nav-link {
    color: black;
    padding: 20px;
}
.container-paragraph {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    font-size: larger;
    font-weight: lighter;
}
.dropdown {
    margin: 50px;
}
hr {
    padding-bottom: 20px;
}
.cards-container {
    margin-top: 20px;
}
.card {
    background-color: rgb(246, 238, 238);
    border: none;
}
.container-quote {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: lighter;
}
.side-title {
text-align: center;
padding-top: 10px;
}
