body{
    background-color: rgb(246, 238, 238);
}
#main-recipe {
    background-image:url("https://images.unsplash.com/photo-1615800098799-0ccb261b1f92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1010&q=80");
    background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.8;
  font-weight: 600;
}
#recipe-img{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
a:hover img::after {
    content: attr(title);
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
}
.nav-link {
    color: black;
    padding: 20px;
}
#recipe-list {
    padding: 5px;
}
.container-paragraph {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    font-size: larger;
    font-weight: lighter;
}
hr {
    padding-bottom: 20px;
}
.cards-container {
    margin-top: 20px;
}
.card {
    background-color: rgb(246, 238, 238);
    border: none;
}
.container-quote {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: lighter;
}
.side-title {
text-align: center;
padding-top: 10px;
}
